


.fondo{
    background-image: url(.);
}
    
html{
    box-sizing: border-box;
    font-size: 70.5%;
}
*, 


img {
    max-width: 100%;
}
.container{

    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
   
    ;
}


    

h1 {
    font-size: 4rem;
}

@media(min-width: 768px){
    body{background-color: rgb(255, 255, 255);}
}

@media(min-width: 1140px){
    body{background-image: d;}
}

@media(min-width: 1400px){
    body{background-color: rgb(255, 255, 255);}
}

.entrada img{display: inline;}

.contenedor{background-color: blue;}

.entradaa{
    display: inline-block;
    background-color: blueviolet;
    color: aliceblue;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;


}
.entradac {
    display: inline-block;
    background-color: rgb(61, 20, 99);
    color: aliceblue;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;


}
.entradab {
    display: inline-block;
    background-color: rgb(106, 35, 173);
    color: aliceblue;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;


}







.container {
    display: flex;
    justify-content: space-between;

    flex-flow: row wrap;

   
}
.clearfix {

    background-color: black;
    margin: auto;
    margin color: ;
}

